*, *::before, *::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

header {
  color: #eee;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 2;
}
header .contact {
  background: rgb(26, 116, 255);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .contact > * {
  padding: 0.5em;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
header .contact a {
  color: inherit;
  text-decoration: none;
}
header .contact a:hover {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.main-nav {
  background: white;
  color: #222;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.main-nav ul a {
  text-decoration: none;
  color: inherit;
  padding: 1em;
  display: block;
  transition: background-color 200ms ease;
}
.main-nav ul a:hover {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

#open-navbar, #close-navbar {
  padding: 1em;
  display: none;
}

#open-navbar:hover,
#close-navbar:hover {
  background: rgba(0, 0, 0, 0.5);
  color: #eee;
}

.logo img {
  max-height: 56px;
}

@media screen and (max-width: 40em) {
  #overlay {
    backdrop-filter: blur(0.3rem);
    position: fixed;
    inset: 0;
  }
  #nav-links-container {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1rem);
    color: #eee;
    z-index: 5;
    text-align: right;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 200ms ease;
  }
  #nav-links-container ul {
    min-width: 75vw;
    min-height: 100vh;
    flex-direction: column;
  }
  #nav-links-container.active {
    transform: translateX(0);
  }
  #open-navbar, #close-navbar {
    display: block;
  }
}
.hero {
  padding: 2em;
  color: #eee;
  min-height: 100vh;
  position: relative;
}
.hero h1 {
  font-size: 3rem;
}

.hero::before {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  filter: brightness(0.4);
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../assets/image1.jpg);
  background-size: cover;
  background-position: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#buka-cta {
  background: #ddd;
  text-decoration: none;
  padding: 2rem;
  margin: 2rem;
  color: #222;
  align-self: center;
}

footer {
  background: #222;
  color: #eee;
  padding: 2em;
  display: flex;
  flex-direction: column;
}
footer .contact {
  display: flex;
  flex-direction: column;
}
footer .contact a {
  color: inherit;
  text-decoration: none;
}
footer .contact a:hover {
  text-decoration: underline;
}
footer .contact-item {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
}

.footer__map-container {
  flex: 2 1 0;
  padding: 0.5rem;
}

.footer__contact {
  flex: 1 1 0;
}

#map-iframe {
  min-width: 100%;
}

@media screen and (min-width: 50em) {
  footer {
    flex-direction: row;
  }
}
.main-section {
  padding: 2em;
}

#informasi {
  background: #222;
  color: #eee;
}

.infobox {
  outline: 1px solid;
  padding: 1em;
}
.infobox time {
  font-weight: bold;
}

#fasilitas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#fasilitas > * {
  flex: 0 1 30em;
}
#fasilitas img {
  margin: auto;
}
#fasilitas .fasilitas-text {
  padding: 1rem;
}

body {
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
