@use '../abstracts' as *;

.hero{
  padding: 2em;
  color:  $font-color;
  min-height: 100vh;
  position: relative;

  h1{
    font-size: 3rem;
  }
}

.hero::before{
  content: '';
  z-index: -1;
  
  position: absolute;
  inset: 0;
  filter: brightness(.4);
  background-color: rgb(0, 0, 0, .5);
  background-image: url(../assets/image1.jpg);
  background-size: cover;
  background-position: center;
}

.hero-content{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#buka-cta{
  background: #ddd;
  text-decoration: none;
  padding: 2rem;
  margin: 2rem;
  color: $font-color--dark;
  align-self: center;
}