@use '../abstracts' as *;

.hero{
  padding: 2em;
  color:  $font-color;
  min-height: 80vh;
  position: relative;

  .hero__title{
    font-size: 3rem;
    animation: animasi-masuk 1500ms ease;
  }
  
  .hero__subtitle{
    font-size: 1.5rem;
    animation: animasi-masuk 3000ms ease;
  }
}

@keyframes animasi-masuk{
  0%{
    opacity: 0;
    transform: translateY(-2rem);
  }
  100%{
    opacity: 1;
    transform: none;
  }
}

.hero::before{
  content: '';
  z-index: -1;
  
  position: absolute;
  inset: 0;
  filter: brightness(.4);
  background-color: rgb(0, 0, 0, .5);
  background-image: url(../assets/image1.jpg);
  background-size: cover;
  background-position: center;
}

.hero-content{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#buka-cta{
  background: #ddd;
  text-decoration: none;
  padding: 2rem;
  margin: 2rem;
  color: $font-color--dark;
  align-self: center;
}