@use '../abstracts/' as *;

.main-section{
  padding: 2em;
}

#informasi{
  background: #222;
  color: $font-color;
}

.infobox{
  outline: 1px solid;
  padding: 1em;
  
  time{
    font-weight: bold;
  }
}

#fasilitas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  & > *{
    flex: 0 1 30em;
  }

  img{
    margin: auto;
  }
  
  .fasilitas-text{
    padding: 1rem;
  }
  
}